.container-cards{
    margin-top: 2rem;
    background-color: rgb(207, 189, 189);
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(250px,1fr)
    );
    gap:3rem;
}
.row{
    background-color: rgb(223, 224, 216);
    text-align: center;
}
.card{
    margin-top: 3rem;
}
.card-header{
    text-align: center;
}
.card-text{
    width: 100%;
    
    border-radius: 1vh;
    text-align: start;
    
}
